
<div class="row mt-5">
  <div class="col">
    <mat-card>
      <mat-card-content>
        <div class="row d-flex ">
          <div class="col flex-grow-1">
              <div *ngFor="let conversation of conversations" class="row">
                <div class="col col-sm-6">
                  <mat-card class="mat-elevation-z0">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>

                  </mat-card>
                </div>
              </div>
          </div>
          <div class="col flex-grow-1">

          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
