
  <div class="d-flex flex-column min-vh-100 justify-content-center  ">
    <div class="row  d-flex justify-content-center">
      <div class="col col-sm-2">
        <mat-card >

          <mat-card-content>
            <div class="row d-flex justify-content-center">
              <div class="col col-sm-10">
                <h5>SIGN UP</h5>
              </div>
            </div>
              <div class="row mt-3">
                <div class="col">
                  <form [formGroup]="loginForm">
                      <div class="row mt-1 d-flex justify-content-center">
                        <div class="col col-sm-10">
                          <mat-label>Email</mat-label>
                          <mat-form-field appearance="outline" >
                            <input matInput formControlName="email"  >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row mt-1 d-flex justify-content-center">
                        <div class="col col-sm-10">
                          <mat-label>Password</mat-label>
                          <mat-form-field appearance="outline" >
                            <input matInput type="password" formControlName="password"  >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center">
                        <div class="col col-sm-10">
                          <button class="w-100" mat-raised-button color="primary">SIGN UP</button>
                        </div>
                      </div>

                  </form>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


  </div>


